.Red {
    background-color: #ee4035;
}

.Orange {
    background-color: #f37736;
}

.Yellow {
    background-color: #fdf498;
}

.Green {
    background-color: #7bc043;
}

.Blue {
    background-color: #0392cf;
}

.Pink {
    background-color: #CA1551;
}

.CarribeanGreen {
    background-color: #03CEA4;
}

.Liberty {
    background-color: #6457A6;
}

.GargoyleGas {
    background-color: #FFE347;
}