.Card {
    width: 30%;
    height: 55%;
    box-shadow: 0 5px 15px -5px #00000070;
    z-index: 100;
    position: absolute;
    left: 20vw;
    background-color: white;
}

.MidCard {
    top: 30vh;
}

.EndCard {
    left: 60vw;
}